= render 'consume_logs_regular_modal', title: "使用日を記録" do
  = turbo_frame_tag 'product_consume_log_input_use_ended_at' do
    = render 'input_use_ended_at_form', { product_consume_log: @product_consume_log, product: @product }
