@import "variables"
@import "bootstrap"

body
  background-color: $base-color
  color: $text-body

.btn
  &.btn-primary
    color: $main-color
    border: none

    &:active
      color: $main-color
    
    &:active, &:hover, &:focus, &:focus-visible
      opacity: 0.65

  &:focus-visible
    outline: none

.is-text-link:hover
  color: $primary
  opacity: 0.6
